Repository echoes-io/brand: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', bash -c 'npm run dev', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

perf(colors): :zap: Fixed linting and small things
  .vscode/settings.json
  README.md
  colors/exports/figma-tokens.json
  colors/exports/palette.json
  colors/exports/tailwind.config.cjs
  colors/exports/tailwind.config.js
  package.json
  scripts/build.ts
  scripts/check-contrast.ts
Due: bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

perf(colors): :lipstick: Colors are now more personalized
  colors/exports/figma-tokens.json
  colors/exports/index.html
  colors/exports/palette.json
  colors/exports/tailwind.config.cjs
  colors/exports/variables.css
  colors/index.ts
Due: bash -c 'npm run dev', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

perf(colors): :truck: Renamed scripts and files
  .github/workflows/deploy-pages.yml
  README.md
  package.json
  scripts/colors-check.ts
  scripts/colors-export.ts
Due: bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: :construction_worker: Added the npm ci deploy
  .github/workflows/deploy-pages.yml
  .lintstagedrc
  package.json
Due: bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: :zap: Updated docs to reflect recent renamings
  .amazonq/cli-agents/default.json
  README.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(typography): :sparkles: Added the typography
  .github/workflows/deploy-pages.yml
  .gitignore
  .lintstagedrc
  .vscode/settings.json
  colors/exports/palette.json
  colors/exports/tailwind.config.cjs
  exports/figma-tokens.json
  exports/index.html
  exports/tailwind.config.cjs
  exports/variables.css
  package.json
  scripts/export.ts
  typography/index.ts
Due: bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs(typography): :sparkles: Fixed documentation for typography
  .amazonq/cli-agents/default.json
  README.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs(guidelines): :memo: Added te guidelines
  .vscode/settings.json
  README.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(logos): :sparkles: Added the first version of the logos
  .vscode/settings.json
  logo/README.md
  logo/anima-timeline.svg
  logo/bloom-timeline.svg
  logo/echoes-main.svg
  logo/eros-timeline.svg
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: :ambulance: Fixed the typography path
  package.json
Due: bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: :truck: `lint:fix` becomes `lint:format`
  package.json
Due: bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: :sparkles: Added the first logo
  logo/echoes.jpg
Due: none

ci: :ambulance: Moved the `build` phase before the `lint` phase
  .github/workflows/deploy-pages.yml
Due: none

ci: :arrow_up: Upped `@biomejs/biome` to `2.3.0`
  biome.json
  package-lock.json
  package.json
Due: bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: :ambulance: Fixed npm publish permission
  .github/workflows/deploy-pages.yml
Due: none

ci: :ambulance: Trying to fix the npm release
  .github/workflows/deploy-pages.yml
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  4eefa97926ebf14dce7d0bd8554c924bd601a38f
Due: none

chore: :arrow_up: Upped `@biomejs/biome` to `2.3.2`
  biome.json
  package.json
Due: bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: :arrow_up: Upped `@biomejs/biome` to `2.3.2`
  package-lock.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(kiro): migrate from Amazon Q to Kiro agent configuration
  .amazonq/cli-agents/default.json
  .kiro/agents/default.json
  .kiro/prompts/default-prompt.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  c18ea2894097cce15b93d123aab890c918f862b1
Due: none

feat: rename agent from 'default' to 'dev' and add code tool
  .kiro/agents/dev.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  e9b7aed3af9ebd5f477137c96bcafdd9cfad14e5
Due: none

chore: :alien: Upped kiro-cli config
  .kiro/agents/dev.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add timeline and series brand assets
  logo/anima-banner.jpg
  logo/anima-square.jpg
  logo/bloom-banner.jpg
  logo/bloom-square.jpg
  logo/eros-ale-cover.jpg
  logo/eros-banner.jpg
  logo/eros-cri-cover.jpg
  logo/eros-ele-cover.jpg
  logo/eros-square.jpg
  logo/glow-banner.jpg
  logo/glow-gio-cover.jpg
  logo/glow-square.jpg
  logo/glow-vale-cover.jpg
  logo/pulse-banner.jpg
  logo/pulse-cover.jpg
  logo/pulse-lei-cover.jpg
  logo/pulse-square.jpg
Due: none

assets: add logo, banner, and tier images
  logo/echoes-avatar.jpg
  logo/echoes-banner-tier-1.jpg
  logo/echoes-banner-tier-2.jpg
  logo/echoes-banner.jpg
Due: none

assets: add square arc images for Substack sections
  logo/eros-ale-square.jpg
  logo/eros-cri-square.jpg
  logo/eros-ele-square.jpg
  logo/glow-gio-square.jpg
  logo/glow-vale-square.jpg
Due: none

add arc cover images: manu, ro, work, bea, pulse
  logo/eros-manu-cover.jpg
  logo/eros-manu-square.jpg
  logo/eros-ro-cover.jpg
  logo/eros-ro-square.jpg
  logo/eros-work-cover.jpg
  logo/eros-work-square.jpg
  logo/glow-bea-cover.jpg
  logo/glow-bea-square.jpg
  logo/pulse-cover-square.jpg
Due: none

add behind the curtains section images (cover + square)
  logo/behind-the-curtains-cover.jpg
  logo/behind-the-curtains-square.jpg
Due: none

feat: add primary, glow, pulse palettes + Crimson Pro
  colors/index.ts
  exports/figma-tokens.json
  exports/index.html
  exports/tailwind.config.cjs
  exports/variables.css
  scripts/colors-check.ts
  typography/index.ts
Due: bash -c 'npm run dev', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: migrate tooling and update dependencies
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/release.yml
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc
  .vscode/settings.json
  biome.json
  lefthook.yml
  package-lock.json
  package.json
Due: bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: exclude exports/ from biome and regenerate
  biome.json
  exports/figma-tokens.json
  exports/index.html
  exports/tailwind.config.cjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: migrate Tailwind export from v3 config to v4 CSS theme
  AGENTS.md
  README.md
  exports/tailwind-preset.css
  exports/tailwind.config.cjs
  scripts/export.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: ensure lint:publish works without prior build
  package.json
Due: bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: publish CSS exports in NPM package
  README.md
  package.json
Due: bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: stop tracking exports/ and fix release workflow
  .github/workflows/release.yml
  .gitignore
  biome.json
  exports/figma-tokens.json
  exports/index.html
  exports/tailwind-preset.css
  exports/variables.css
  package.json
Due: bash -c 'npm run lint:lockfile', bash -c 'npm run lint:engines', bash -c 'npm run lint:publish', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  bash -c 'npm run lint:lockfile': any of: package.json
  bash -c 'npm run lint:engines': any of: package.json
  bash -c 'npm run lint:publish': any of: package.json
  bash -c 'npm run dev': any of: colors/index.ts
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{ts,tsx,json,yaml,graphql,md,css,scss,html}
